<div class="row box-shadow">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
      <a class="anchor" name="about"></a>
      <h2>About</h2>
      <div class="content-body">
        <div class="card">
          <div class="card-content">
            <p>I am currently a full-time Barrett Honors College student at Arizona State University (ASU) in Tempe,
               Arizona. I am scheduled to graduate in May 2019 with a Bachelor of Science in Computer Science (Software
               Engineering) with a minor in Economics. In addition to my challenging academic program, I have been
               fortunate
               to participate in several ASU clubs and organizations pertaining to computer science and programming
               development. I have also been fortunate enough to hold various officer positions within these
               organizations
               where I learned invaluable leadership and cooperation skills. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side-content"></div>
</div>
