<div class="profile">
  <div class="profile-picture">
    <div class="profile-text">
      <div class="profile-name">Jake Anderson</div>
      <div class="profile-name-lower">Software Developer</div>
      <div class="social-media-buttons">
        <a href="https://www.linkedin.com/in/jake-anderson-45b3b64b/">
        <i class="fab fa-linkedin"></i></a>
        <div class="added-padding"></div>
        <a href="https://github.com/andersonjake">
          <i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
