<div class="row box-shadow">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
      <a class="anchor" name="skills"></a>
      <h2>Skills</h2>
    </div>
    <div class="content-body">
      <ul class="ul-skills">
        <li class="li-skills">Java</li>
        <li class="li-skills">C</li>
        <li class="li-skills">C++</li>
        <li class="li-skills">VBA</li>
        <li class="li-skills">TypeScript</li>
        <li class="li-skills">JavaScript</li>
        <li class="li-skills">HTML</li>
        <li class="li-skills">Sass</li>
        <li class="li-skills">CSS</li>
        <li class="li-skills">MATLAB</li>
        <li class="li-skills">Prolog</li>
        <li class="li-skills">Scheme</li>
        <li class="li-skills">Python</li>
        <li class="li-skills">Git</li>
        <li class="li-skills">Markdown</li>
        <li class="li-skills">Swift</li>
        <li class="li-skills">Angular 2</li>
        <li class="li-skills">Angular 4</li>
        <li class="li-skills">Ember</li>
        <li class="li-skills">Electron</li>
        <li class="li-skills">Microsoft Office</li>
        <li class="li-skills">Node.js</li>
        <li class="li-skills">Handlebars</li>
        <li class="li-skills">Google Drive</li>
        <li class="li-skills">GitHub</li>
        <li class="li-skills">Targetprocess</li>
        <li class="li-skills">Microsoft Azure</li>
        <li class="li-skills">Trello</li>
        <li class="li-skills">Skype</li>
        <li class="li-skills">Visual Studio</li>
        <li class="li-skills">VS Code</li>
        <li class="li-skills">Webstorm</li>
        <li class="li-skills">Eclipse</li>
        <li class="li-skills">Atom</li>
        <li class="li-skills">Xcode</li>
      </ul>
    </div>
  </div>
  <div class="side-content"></div>
</div>
