<div class="row">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
      <a class="anchor" name="experience"></a>
      <h2>Experience</h2>
    </div>
    <!-- CARD #1 -->
    <div class="content-body">
      <div class="card">
        <div class="card-header">
          <h4>The Product Works <span class="job-title">Summer Intern</span></h4>
        </div>
        <div class="card-content">
          <p>Summer 2017 <br>
            •	Headed front-end development and UI design for product.
            <br>
             •	Collaborated with team members to create software for third party users.</p>
        </div>
      </div>

      <!-- CARD #2 -->

      <div class="card">
        <div class="card-header">
          <h4>DriveTime Automotive Group, Inc. <span class="job-title">Part-time Software Developer </span></h4>
        </div>
        <div class="card-content">
          <p>Aug 2016 – May 2017 <br>
             •	Write and develop software for Drivetime.com.
            <br>
             •	Develop software for IOS and Android apps.</p>
        </div>
      </div>

      <!-- CARD #2 -->

      <div class="card">
        <div class="card-header">
          <h4>DriveTime Automotive Group, Inc.<span class="job-title">Summer Intern</span></h4>
        </div>
        <div class="card-content">
          <p>Summer 2016 <br>
            •	Learned about, wrote and developed software for DriveTime’s online team.
            <br>
             •	Developed and completed an independent app for DriveTime use with a team of other interns, over the span of the summer program.</p>
        </div>
      </div>


      <!-- CARD #3 -->

      <div class="card">
        <div class="card-header">
          <h4>AvAir <span class="job-title">Summer Intern </span></h4>
        </div>
        <div class="card-content">
          <p>Summer 2015 <br>
            •	Organize and sort airplane parts in headquarters’ warehouse.
            <br>
             •	Organized and labeled airplane parts in warehouse computer systems.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="side-content"></div>
</div>
